node_modules/
.DS_Store
dist/
build/
.env
.env.local
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.sqlite
server/database.sqlite
server/data/*.db
server/data/*.db-shm
server/data/*.db-wal
client/dist
